.tags-container {
    margin-top: 30px;
    width: 100%;
    
    @include desktop {
       width: 336px;
    }
 
    a {
         color: var(--color-primary);
         text-decoration: none;
         padding: 10px 10px;
         border: 1px solid var(--color-primary);
         border-radius: 20px;
         margin: 5px;
    }
}