@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var selection = Umbraco.Content(Guid.Parse("82de876a-8302-4ada-9dd5-515335bbf703"))
    .ChildrenOfType("serviceItemTemplate")
    .Where(x => x.IsVisible())
    .Take(6);
}

<section id="services-section" class="service-services">
    <div class="container">
        <div class="services">
            @if (selection != null) {
                
                @foreach (var item in selection)
                    {
                    var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                    var preamble = item?.Value<string>("preamble") ?? "";

                    <a href="@item!.Url()" class="service-card">
                        <div class="item">
                            <div class="header">
                                <h4>@item.Name()</h4>
                            </div>
                            <div class="body">
                                <img src="@image" alt="@item.Name()">
                            </div>
                            <div class="footer">
                                <p>@preamble</p>
                            </div>
                        </div>
                    </a> 
                }
            }
        </div>
    </div>
</section>

