.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
    @include btn;
}

.btn-menu {
    @include btn-circle;
    height: 40px;
    width: 40px;
    font-size: 1.6rem;

    @include tablet {
        height: 55px;
        width: 55px;
    }
}