.service-details {
    margin-top: 30px;

    @include desktop {
        margin-top: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row-reverse;
            gap: 70px;
        }

        .content {
            @include desktop {
                gap: 20px;
            }

            img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            ul, li, p {
                font-size: 12px;

                @include tablet {
                    font-size: 16px;
                }
            }
        }

        .side-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            @include desktop {
                width: 348px;
            }

            img {
                width: 50%;
                margin-bottom: 20px;

                @include desktop {
                    width: 100%;
                }
            }
        }
    }

    form {
        width: 100%;
        margin-top: 50px;

        textarea {
            width: 100%;
            height: 175px;
            margin-bottom: 10px;
            border: 1px solid var(--color-secondary);
            border-radius: 2px;
            padding-left: 30px;
            padding: 10px;

            &::placeholder {
                font-style: italic;
            }
        }
    }
}
