#services-section {
    padding-top: 20px;
    padding-bottom: 40px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: var(--color-primary);
            max-width: 501px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 50px;
        }

        .services {
            display: flex;
            flex-direction: column;

            @include desktop {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
            }

            .service-card {
                display: flex;
                flex-direction: column;
                background-color: var(--color-light);
                margin-bottom: 20px;
                width: 100%;
                text-decoration: none;
                box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);

                @include desktop {
                    width: 370px;
                    overflow: hidden;
                    position: relative;
                }

                &:hover {
                    text-decoration: underline;
                }

                h4, p {
                    padding: 20px;
                    color: var(--color-primary);
                }

                img {
                    width: 100%;
                    height: auto;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

.pagination {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            text-decoration: none;
            padding: 10px 17px;
            border-radius: 50%;
            color: var(--color-primary);
        }

        .pages {
            display: flex;
            list-style: none;
            padding-left: 15px;
            padding-right: 15px;
        }

        .active {
            border: 1px solid var(--color-secondary);
        }

        .inactive {
            color: var(--color-gray);
            opacity: 0.5;
        }

        .change {
            color: var(--color-primary);
        }
    }
}
