#about-section {
    margin-bottom: 50px;

    @include desktop {
        margin-bottom: 120px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;

        @include desktop {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        #about-text {
            @include desktop {
                width: 672px;
            }

            h2 {
                font-size: 2.5rem;
                margin-bottom: 20px;
            }

            .quote {
                font-style: italic;
                margin-bottom: 20px;
            }
        }

        #request-form {
            @include desktop {
                box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
                position: absolute;
                top: -40%;
                left: 60%;
                background-color: var(--color-light);
                height: 630px;
                width: 470px;
            }

            h3 {
                background-color: var(--color-primary);
                padding: 30px 20px;
            }

            p {
                padding: 20px 20px 10px 20px;
                font-style: italic;
                font-size: 14px;
            }

            .container {
                display: flex;
                flex-direction: column;

                form {
                    padding: 0 20px;
                    display: grid;
                    grid-template-columns: 1fr;

                    .input-container {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 15px;
                    }

                    select {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
