#success-stories-section {
    background-color: var(--color-primary);
    padding-top: 60px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet {
        height: 608px;
    }

    @include desktop {
        height: 838px;
    }

    .background-image {
        width: 100%;
        max-width: 1116px;
        display: block;
        margin-top: 40px;
    }

    .container {
        height: 100%;
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
            color: var(--color-light);
        }

        .story-numbers {
            display: flex;
            flex-direction: column;

            @include desktop {
                flex-direction: row;
                width: 1116px;
                margin-top: 20px;
            }

            .numbers-box {
                width: 370px;
                padding: 0 20px;

                h2 {
                    color: var(--color-secondary);
                    margin-bottom: 0;
                    font-size: 80px;
                }

                p {
                    color: var(--color-light);
                }
            }
        }
    }

    #img-container {
        img {
            display: none;
            @include desktop {
                display: block;
                position: absolute;
                bottom: -50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
