<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5b37cb7-787c-4578-9e5e-f0b4124f53f4" Alias="Budget Planning for Buccura In..." Level="3">
  <Info>
    <Parent Key="117687d4-44f3-4ddb-8ed3-aacba5739ff5">Projects</Parent>
    <Path>/Home/Projects/BudgetPlanningForBuccuraIn</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-17T14:54:18</CreateDate>
    <NodeName Default="Budget Planning for Buccura In..." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4af598e-77db-4462-a318-e6afbcb7b3a6">projectItemTemplate</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[January 3, 2024]]></Value>
    </date>
    <helpBoxText>
      <Value><![CDATA[]]></Value>
    </helpBoxText>
    <helpBoxTitle>
      <Value><![CDATA[]]></Value>
    </helpBoxTitle>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <projects>
      <Value><![CDATA[]]></Value>
    </projects>
    <sidebarTitle>
      <Value><![CDATA[]]></Value>
    </sidebarTitle>
    <tagItems>
      <Value><![CDATA[]]></Value>
    </tagItems>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "66d465fb-6d6a-4ff6-b138-165e5f552925",
    "mediaKey": "09e2e671-24c5-4b17-8884-f361d8e745fc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>