<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1594693-59bb-45b7-a89f-aa7b09aca32b" Alias="Business Insights for SP Group..." Level="3">
  <Info>
    <Parent Key="117687d4-44f3-4ddb-8ed3-aacba5739ff5">Projects</Parent>
    <Path>/Home/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-17T14:53:39</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4af598e-77db-4462-a318-e6afbcb7b3a6">projectItemTemplate</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[May 17, 2024]]></Value>
    </date>
    <helpBoxText>
      <Value><![CDATA[]]></Value>
    </helpBoxText>
    <helpBoxTitle>
      <Value><![CDATA[]]></Value>
    </helpBoxTitle>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <projects>
      <Value><![CDATA[]]></Value>
    </projects>
    <sidebarTitle>
      <Value><![CDATA[]]></Value>
    </sidebarTitle>
    <tagItems>
      <Value><![CDATA[]]></Value>
    </tagItems>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "c2254b87-4983-4720-96e4-7abf9cef7904",
    "mediaKey": "73556593-2403-46ad-9fdc-69a2c3128973",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>