<?xml version="1.0" encoding="utf-8"?>
<Content Key="d83be3b4-5d03-47ae-baec-aea337ee939e" Alias="Financial Advisors for Irra Grou..." Level="3">
  <Info>
    <Parent Key="117687d4-44f3-4ddb-8ed3-aacba5739ff5">Projects</Parent>
    <Path>/Home/Projects/FinancialAdvisorsForIrraGrou</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-17T14:54:00</CreateDate>
    <NodeName Default="Financial Advisors for Irra Grou..." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4af598e-77db-4462-a318-e6afbcb7b3a6">projectItemTemplate</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </date>
    <helpBoxText>
      <Value><![CDATA[]]></Value>
    </helpBoxText>
    <helpBoxTitle>
      <Value><![CDATA[]]></Value>
    </helpBoxTitle>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <projects>
      <Value><![CDATA[]]></Value>
    </projects>
    <sidebarTitle>
      <Value><![CDATA[]]></Value>
    </sidebarTitle>
    <tagItems>
      <Value><![CDATA[]]></Value>
    </tagItems>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "c0faf428-6cf7-467d-ac17-f94f2d8a1b84",
    "mediaKey": "fdcb6192-1ff4-492c-8ae0-1d4a91e4d393",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>