<?xml version="1.0" encoding="utf-8"?>
<Content Key="117687d4-44f3-4ddb-8ed3-aacba5739ff5" Alias="Projects" Level="2">
  <Info>
    <Parent Key="bc5506a2-69cb-4b1c-85a6-80a022ba5a3b">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-17T14:22:32</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e9c804c3-0b7b-4c7e-bfae-60230b6d79af">projectListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <helpBoxText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </helpBoxText>
    <helpBoxTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </helpBoxTitle>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <sidebarTitle>
      <Value><![CDATA[Tags]]></Value>
    </sidebarTitle>
    <tagItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/3a01887615bf439cb9551dfb6c525d6d",
      "tagName": "Report"
    },
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/7c5b42cacdf14a82849faf5e599fe1ca",
      "tagName": "Busines plans"
    },
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/fc77d5f8414b4eb3b72fb3c52d27b6b9",
      "tagName": "Insights"
    },
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/4a96546c598d4f419c0500a5e8e270e0",
      "tagName": "Business"
    },
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/a27acefa297849cb971140fa597641e2",
      "tagName": "App"
    },
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/01db571c4ca946d6b6d758294bc2349f",
      "tagName": "Project"
    },
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/ef113a20c0f14711a7ab84171fddd802",
      "tagName": "Finance"
    },
    {
      "contentTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "udi": "umb://element/69c4f28476cf4c30a579c888ca64ae8f",
      "tagName": "Pricing"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a01887615bf439cb9551dfb6c525d6d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/7c5b42cacdf14a82849faf5e599fe1ca",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fc77d5f8414b4eb3b72fb3c52d27b6b9",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/4a96546c598d4f419c0500a5e8e270e0",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a27acefa297849cb971140fa597641e2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/01db571c4ca946d6b6d758294bc2349f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ef113a20c0f14711a7ab84171fddd802",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/69c4f28476cf4c30a579c888ca64ae8f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </tagItems>
  </Properties>
</Content>