<?xml version="1.0" encoding="utf-8"?>
<Content Key="82de876a-8302-4ada-9dd5-515335bbf703" Alias="Services" Level="2">
  <Info>
    <Parent Key="bc5506a2-69cb-4b1c-85a6-80a022ba5a3b">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-09T17:36:11</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d7cbb38-abd5-42c6-b39f-93cca0828106">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>