<?xml version="1.0" encoding="utf-8"?>
<Content Key="838d90fd-ef41-482c-bdf6-cf121f980fa9" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-04T11:58:40</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImageLeft>
      <Value><![CDATA[[
  {
    "key": "d759c013-467d-4f1f-a74d-c2f732e9b300",
    "mediaKey": "90856a62-c04c-4ef7-85c0-5cac6b44325e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImageLeft>
    <backgroundImageRight>
      <Value><![CDATA[[
  {
    "key": "75136dd4-90be-4430-8f13-887ee1badfd9",
    "mediaKey": "13599da9-eabf-45a3-b841-87f8c24d1ec3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImageRight>
    <contactSectionBackground>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#F7F7F7"
}]]></Value>
    </contactSectionBackground>
    <dotBackground>
      <Value><![CDATA[[
  {
    "key": "f23e6364-77bc-41d0-bd51-dc4ac4276c57",
    "mediaKey": "5539bbdc-dae5-43a4-aa00-a065db1b9ba2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </dotBackground>
    <mainBackground>
      <Value><![CDATA[[
  {
    "key": "9b9f1bf7-a392-42b2-a913-7a10edef4179",
    "mediaKey": "3cf8b790-9129-419e-8cfc-434c9fac91d7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainBackground>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "b4b1d31b-f4fa-4bb4-bd0b-cb7756659dcb",
    "mediaKey": "1a0b7826-fe4e-40e4-9330-cb1d5d6fad6e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "be96eb3b-dda4-4e7e-ac39-218d9968da4c",
      "udi": "umb://element/3a172db7d09645619a67ea168d2f18e6",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "be96eb3b-dda4-4e7e-ac39-218d9968da4c",
      "udi": "umb://element/050ed8dea5cb4fff8c929c40f6860585",
      "platformName": "[\u0022X (twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "be96eb3b-dda4-4e7e-ac39-218d9968da4c",
      "udi": "umb://element/a05fed6dfb514f6081dd4cad50168235",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3a172db7d09645619a67ea168d2f18e6",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/050ed8dea5cb4fff8c929c40f6860585",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a05fed6dfb514f6081dd4cad50168235",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>