@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
}

<section class="service-details">
    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        @await Html.PartialAsync("partials/static/breadcrumbsContainer.cshtml")
    }
    
    <div class="container">
        @Model.Value("pageContent")
    </div>
</section>