<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d7ca1b5-d164-4439-af44-c944a8177321" Alias="container" Level="4">
  <Info>
    <Name>Container</Name>
    <Icon>icon-checkbox-dotted</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>&lt;div class="container"&gt;</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/HTML+Elements/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>