<?xml version="1.0" encoding="utf-8"?>
<Media Key="90856a62-c04c-4ef7-85c0-5cac6b44325e" Alias="aboutBackground2.svg" Level="2">
  <Info>
    <Parent Key="7b00658a-c47a-40f1-8e29-c4d0d38dfa03">Breadcrumbs background</Parent>
    <Path>/BreadcrumbsBackground/aboutBackground2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T15:16:39</CreateDate>
    <NodeName Default="aboutBackground2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sdldo2sx/aboutbackground2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>