<?xml version="1.0" encoding="utf-8"?>
<Media Key="13599da9-eabf-45a3-b841-87f8c24d1ec3" Alias="aboutBackground1.svg" Level="2">
  <Info>
    <Parent Key="7b00658a-c47a-40f1-8e29-c4d0d38dfa03">Breadcrumbs background</Parent>
    <Path>/BreadcrumbsBackground/aboutBackground1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T15:16:38</CreateDate>
    <NodeName Default="aboutBackground1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lmqpx2ne/aboutbackground1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>