<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d845b10-13e3-4550-9d71-4638e8c28e00" Alias="annualReport1.svg" Level="2">
  <Info>
    <Parent Key="806739a3-d04d-49fa-998b-9e999c4d872e">Annual Report</Parent>
    <Path>/AnnualReport/annualReport1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T17:19:14</CreateDate>
    <NodeName Default="annualReport1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ltcnt5y/annualreport1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>