<?xml version="1.0" encoding="utf-8"?>
<Media Key="806739a3-d04d-49fa-998b-9e999c4d872e" Alias="Annual Report" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T17:18:48</CreateDate>
    <NodeName Default="Annual Report" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>