<?xml version="1.0" encoding="utf-8"?>
<Media Key="112bf2f7-4b4c-4865-bc35-6e5822de61fe" Alias="annualReport.svg" Level="2">
  <Info>
    <Parent Key="806739a3-d04d-49fa-998b-9e999c4d872e">Annual Report</Parent>
    <Path>/AnnualReport/annualReportsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-17T17:19:13</CreateDate>
    <NodeName Default="annualReport.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/avhjt20x/annualreport.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>