<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a0b7826-fe4e-40e4-9330-cb1d5d6fad6e" Alias="brand.svg" Level="2">
  <Info>
    <Parent Key="7629fd04-5738-4bd4-9586-9fe68f93a50f">Logotype</Parent>
    <Path>/Logotype/brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T11:03:01</CreateDate>
    <NodeName Default="brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0tclt4cv/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>