<?xml version="1.0" encoding="utf-8"?>
<Media Key="b24bb1c1-d289-4b5d-bcff-5112933cdbda" Alias="brand1.svg" Level="2">
  <Info>
    <Parent Key="4129d480-39ce-4cc1-9b63-5ce4e2df508b">Brands</Parent>
    <Path>/Brands/brand1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:54:41</CreateDate>
    <NodeName Default="brand1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gmgosues/brand1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>