<?xml version="1.0" encoding="utf-8"?>
<Media Key="648ae64a-8d95-44de-971a-2b3bb3600061" Alias="brand3.svg" Level="2">
  <Info>
    <Parent Key="4129d480-39ce-4cc1-9b63-5ce4e2df508b">Brands</Parent>
    <Path>/Brands/brand3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:54:42</CreateDate>
    <NodeName Default="brand3.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xbndrbuo/brand3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>