<?xml version="1.0" encoding="utf-8"?>
<Media Key="9525d7d7-fdbb-4545-a359-815f4028f82e" Alias="brand5.svg" Level="2">
  <Info>
    <Parent Key="4129d480-39ce-4cc1-9b63-5ce4e2df508b">Brands</Parent>
    <Path>/Brands/brand5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:54:39</CreateDate>
    <NodeName Default="brand5.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/evvio33a/brand5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>