<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec9d3fec-b7b3-43d2-ad38-102061238558" Alias="brand6.svg" Level="2">
  <Info>
    <Parent Key="4129d480-39ce-4cc1-9b63-5ce4e2df508b">Brands</Parent>
    <Path>/Brands/brand6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:54:40</CreateDate>
    <NodeName Default="brand6.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d0bd4dvi/brand6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>