<?xml version="1.0" encoding="utf-8"?>
<Media Key="422e0507-7967-427f-8e69-741ff0608521" Alias="brand4.svg" Level="2">
  <Info>
    <Parent Key="4129d480-39ce-4cc1-9b63-5ce4e2df508b">Brands</Parent>
    <Path>/Brands/brand4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:54:38</CreateDate>
    <NodeName Default="brand4.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4w2izid2/brand4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>