<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b00658a-c47a-40f1-8e29-c4d0d38dfa03" Alias="Breadcrumbs background" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BreadcrumbsBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T15:16:01</CreateDate>
    <NodeName Default="Breadcrumbs background" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>