<?xml version="1.0" encoding="utf-8"?>
<Media Key="5539bbdc-dae5-43a4-aa00-a065db1b9ba2" Alias="contactBackground.svg" Level="2">
  <Info>
    <Parent Key="9143fd10-3afb-4507-8410-56b539d02654">ContactInfoSection</Parent>
    <Path>/ContactInfoSection/contactBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T14:04:28</CreateDate>
    <NodeName Default="contactBackground.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fydjxn54/contactbackground.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>