<?xml version="1.0" encoding="utf-8"?>
<Media Key="200bae1e-d551-44e9-a3b8-6222238958f5" Alias="contactBackground.svg" Level="2">
  <Info>
    <Parent Key="a9548f06-a1ca-41b6-a0f2-565eae39818c">About Page</Parent>
    <Path>/AboutPage/contactBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T18:33:54</CreateDate>
    <NodeName Default="contactBackground.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3qjltqsk/contactbackground.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>