<?xml version="1.0" encoding="utf-8"?>
<Media Key="9143fd10-3afb-4507-8410-56b539d02654" Alias="ContactInfoSection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-13T13:57:09</CreateDate>
    <NodeName Default="ContactInfoSection" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>