<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cf8b790-9129-419e-8cfc-434c9fac91d7" Alias="contactImg.svg" Level="2">
  <Info>
    <Parent Key="9143fd10-3afb-4507-8410-56b539d02654">ContactInfoSection</Parent>
    <Path>/ContactInfoSection/contactImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T13:57:35</CreateDate>
    <NodeName Default="contactImg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/miffvxrs/contactimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>