<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d60f2b2-234d-40e8-b9e5-f9c1bcdbaa9e" Alias="contactImg.svg" Level="2">
  <Info>
    <Parent Key="a9548f06-a1ca-41b6-a0f2-565eae39818c">About Page</Parent>
    <Path>/AboutPage/contactImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T18:33:51</CreateDate>
    <NodeName Default="contactImg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ibhnfh0w/contactimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>