<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4abf383-350b-4986-b3d8-6e7fda19db49" Alias="Dotmap.svg" Level="2">
  <Info>
    <Parent Key="97370817-c927-4385-b03d-036b042f97e0">Home - Success Story</Parent>
    <Path>/HomeSuccessStory/Dotmapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:46:29</CreateDate>
    <NodeName Default="Dotmap.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ofhasjqq/dotmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>