<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd9510a8-4999-42ff-9567-239085f07ca7" Alias="expert4.svg" Level="2">
  <Info>
    <Parent Key="8ed54e39-7eb5-4ffc-8048-4ea22d3f2a49">Our Experts</Parent>
    <Path>/OurExperts/expert4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T11:31:07</CreateDate>
    <NodeName Default="expert4.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lkwdol2c/expert4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>