<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a17616a-81de-433d-86d7-891bdb90a405" Alias="expert6.svg" Level="2">
  <Info>
    <Parent Key="8ed54e39-7eb5-4ffc-8048-4ea22d3f2a49">Our Experts</Parent>
    <Path>/OurExperts/expert6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T11:31:09</CreateDate>
    <NodeName Default="expert6.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tdoll4gf/expert6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>