<?xml version="1.0" encoding="utf-8"?>
<Media Key="95a4a27f-b698-4782-8724-503359634b76" Alias="expert2.svg" Level="2">
  <Info>
    <Parent Key="8ed54e39-7eb5-4ffc-8048-4ea22d3f2a49">Our Experts</Parent>
    <Path>/OurExperts/expert2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T11:31:12</CreateDate>
    <NodeName Default="expert2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rupbm32d/expert2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>