<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c2f5a63-a8ae-4c93-818f-93c6769035a5" Alias="expert7.svg" Level="2">
  <Info>
    <Parent Key="8ed54e39-7eb5-4ffc-8048-4ea22d3f2a49">Our Experts</Parent>
    <Path>/OurExperts/expert7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T11:31:10</CreateDate>
    <NodeName Default="expert7.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shtj05vv/expert7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>