<?xml version="1.0" encoding="utf-8"?>
<Media Key="f950b93c-d7d2-4163-b298-9da89abfa9ed" Alias="expert3.svg" Level="2">
  <Info>
    <Parent Key="8ed54e39-7eb5-4ffc-8048-4ea22d3f2a49">Our Experts</Parent>
    <Path>/OurExperts/expert3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T11:31:13</CreateDate>
    <NodeName Default="expert3.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zycpeg4j/expert3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>