<?xml version="1.0" encoding="utf-8"?>
<Media Key="16524525-078b-4b4d-b944-092cda9ea235" Alias="expert5.svg" Level="2">
  <Info>
    <Parent Key="8ed54e39-7eb5-4ffc-8048-4ea22d3f2a49">Our Experts</Parent>
    <Path>/OurExperts/expert5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T11:31:08</CreateDate>
    <NodeName Default="expert5.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/052pb3eq/expert5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>