<?xml version="1.0" encoding="utf-8"?>
<Media Key="a441b8af-1f30-43d3-835c-6b1f7601271b" Alias="Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-04T09:07:31</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>