<?xml version="1.0" encoding="utf-8"?>
<Media Key="97370817-c927-4385-b03d-036b042f97e0" Alias="Home - Success Story" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeSuccessStory</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:40:40</CreateDate>
    <NodeName Default="Home - Success Story" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>