<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4be3d57-d149-4900-a371-ccd884333fb3" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="11bd6366-343e-4e42-ac16-9d372b6d4a7e">Kevin Gardner</Parent>
    <Path>/KevinGardner/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:43:45</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwabyvss/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>