<?xml version="1.0" encoding="utf-8"?>
<Media Key="7629fd04-5738-4bd4-9586-9fe68f93a50f" Alias="Logotype" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logotype</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-04T11:02:47</CreateDate>
    <NodeName Default="Logotype" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>