<?xml version="1.0" encoding="utf-8"?>
<Media Key="92493a3d-74eb-4feb-b2fa-dc1ad600d08d" Alias="onlinesignaturesnet-302-1.svg" Level="2">
  <Info>
    <Parent Key="2cc85213-46d0-4349-8f5c-ad2b2d3f9ade">Home - About Section</Parent>
    <Path>/HomeAboutSection/onlinesignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T09:57:03</CreateDate>
    <NodeName Default="onlinesignaturesnet-302-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4dpw2hq/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>