<?xml version="1.0" encoding="utf-8"?>
<Media Key="73556593-2403-46ad-9fdc-69a2c3128973" Alias="ourProjects2.svg" Level="2">
  <Info>
    <Parent Key="ceb97ae7-b38b-4e6e-876e-1cdb8ea6072c">Our Projects</Parent>
    <Path>/OurProjects/ourProjects2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:43:20</CreateDate>
    <NodeName Default="ourProjects2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mhmppeiy/ourprojects2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>