<?xml version="1.0" encoding="utf-8"?>
<Media Key="09e2e671-24c5-4b17-8884-f361d8e745fc" Alias="ourProjects4.svg" Level="2">
  <Info>
    <Parent Key="ceb97ae7-b38b-4e6e-876e-1cdb8ea6072c">Our Projects</Parent>
    <Path>/OurProjects/ourProjects4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:43:18</CreateDate>
    <NodeName Default="ourProjects4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qnnfb044/ourprojects4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>