<?xml version="1.0" encoding="utf-8"?>
<Media Key="77a1ba28-8881-4544-9963-cc48e894b8ca" Alias="ourProjects1.svg" Level="2">
  <Info>
    <Parent Key="ceb97ae7-b38b-4e6e-876e-1cdb8ea6072c">Our Projects</Parent>
    <Path>/OurProjects/ourProjects1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:43:19</CreateDate>
    <NodeName Default="ourProjects1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1idbhfm0/ourprojects1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>