<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdcb6192-1ff4-492c-8ae0-1d4a91e4d393" Alias="ourProjects3.svg" Level="2">
  <Info>
    <Parent Key="ceb97ae7-b38b-4e6e-876e-1cdb8ea6072c">Our Projects</Parent>
    <Path>/OurProjects/ourProjects3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:43:17</CreateDate>
    <NodeName Default="ourProjects3.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mdogsh5p/ourprojects3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>