<?xml version="1.0" encoding="utf-8"?>
<Media Key="029dca2a-43eb-479d-ac5d-5d54d06c59ad" Alias="projectDetail3.svg" Level="2">
  <Info>
    <Parent Key="731c49ac-91db-4087-b51c-0106bbf8eec4">Project Detail Page</Parent>
    <Path>/ProjectDetailPage/projectDetail3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:42:51</CreateDate>
    <NodeName Default="projectDetail3.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1b1d5yhq/projectdetail3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>