<?xml version="1.0" encoding="utf-8"?>
<Media Key="59acfb6f-11ff-49b0-bcde-a064bc4720d9" Alias="projectDetail1.svg" Level="2">
  <Info>
    <Parent Key="731c49ac-91db-4087-b51c-0106bbf8eec4">Project Detail Page</Parent>
    <Path>/ProjectDetailPage/projectDetail1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:42:52</CreateDate>
    <NodeName Default="projectDetail1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tvda3o5e/projectdetail1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>