<?xml version="1.0" encoding="utf-8"?>
<Media Key="731c49ac-91db-4087-b51c-0106bbf8eec4" Alias="Project Detail Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectDetailPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:42:45</CreateDate>
    <NodeName Default="Project Detail Page" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>