<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f23a03b-c975-49c7-a33b-f5699baf712f" Alias="projectDetail2.svg" Level="2">
  <Info>
    <Parent Key="731c49ac-91db-4087-b51c-0106bbf8eec4">Project Detail Page</Parent>
    <Path>/ProjectDetailPage/projectDetail2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:42:50</CreateDate>
    <NodeName Default="projectDetail2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zeojddlo/projectdetail2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>