<?xml version="1.0" encoding="utf-8"?>
<Media Key="06f97025-34f3-4438-88e3-71430c1a0b68" Alias="riskManagement.png" Level="2">
  <Info>
    <Parent Key="bafea64e-2a4e-4e15-ad02-1d0a7bf77291">Services</Parent>
    <Path>/Services/riskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T09:54:40</CreateDate>
    <NodeName Default="riskManagement.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vk3l5me0/riskmanagement.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>