<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d309eda-b65d-4d53-87f1-4117552ce335" Alias="riskManagement1.svg" Level="2">
  <Info>
    <Parent Key="4d7d6ea6-bae0-4f39-b9c1-6a50439e5806">Risk Management</Parent>
    <Path>/RiskManagement/riskManagement1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:42:25</CreateDate>
    <NodeName Default="riskManagement1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/farjf50g/riskmanagement1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>