<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d7d6ea6-bae0-4f39-b9c1-6a50439e5806" Alias="Risk Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:42:18</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>