<?xml version="1.0" encoding="utf-8"?>
<Media Key="0db185b4-284c-46df-936a-685b4850537f" Alias="service2.svg" Level="2">
  <Info>
    <Parent Key="bafea64e-2a4e-4e15-ad02-1d0a7bf77291">Services</Parent>
    <Path>/Services/service2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:40:58</CreateDate>
    <NodeName Default="service2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iy2bh10x/service2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>