<?xml version="1.0" encoding="utf-8"?>
<Media Key="05c3bd30-7baf-402a-9b8a-264a03f6eb0f" Alias="service5.svg" Level="2">
  <Info>
    <Parent Key="bafea64e-2a4e-4e15-ad02-1d0a7bf77291">Services</Parent>
    <Path>/Services/service5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:40:55</CreateDate>
    <NodeName Default="service5.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yiagdz3u/service5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>