<?xml version="1.0" encoding="utf-8"?>
<Media Key="549eb832-9f63-4854-88b9-4b943554871f" Alias="service1.svg" Level="2">
  <Info>
    <Parent Key="bafea64e-2a4e-4e15-ad02-1d0a7bf77291">Services</Parent>
    <Path>/Services/service1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:40:57</CreateDate>
    <NodeName Default="service1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yacdznty/service1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>