<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8b29d65-c6c7-4976-a6f8-13c5e3a77db4" Alias="service4.svg" Level="2">
  <Info>
    <Parent Key="bafea64e-2a4e-4e15-ad02-1d0a7bf77291">Services</Parent>
    <Path>/Services/service4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:40:59</CreateDate>
    <NodeName Default="service4.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s2qbacw2/service4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>