<?xml version="1.0" encoding="utf-8"?>
<Media Key="bafea64e-2a4e-4e15-ad02-1d0a7bf77291" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:39:53</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>