<?xml version="1.0" encoding="utf-8"?>
<Media Key="954448a8-10a9-44f0-bbaa-eeb6e5e9bd86" Alias="sl-home2.svg" Level="2">
  <Info>
    <Parent Key="a441b8af-1f30-43d3-835c-6b1f7601271b">Hero</Parent>
    <Path>/Hero/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T09:08:07</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ll0pm33s/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>