<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa8839f8-c3cc-4593-b92c-6deb71049916" Alias="storyimage.svg" Level="2">
  <Info>
    <Parent Key="f2836538-834a-4ed6-864c-ba27821e96f7">Home - Story Section</Parent>
    <Path>/HomeStorySection/storyimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:41:27</CreateDate>
    <NodeName Default="storyimage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bkccuggx/storyimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>