<?xml version="1.0" encoding="utf-8"?>
<Media Key="172d70dd-7782-4677-ac9f-19e09dae4e48" Alias="succesStoriesImg.svg" Level="2">
  <Info>
    <Parent Key="97370817-c927-4385-b03d-036b042f97e0">Home - Success Story</Parent>
    <Path>/HomeSuccessStory/succesStoriesImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:41:37</CreateDate>
    <NodeName Default="succesStoriesImg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f5gj53mz/successtoriesimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>