<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b59b7e4-8e1b-4ac7-bd29-68115a1f8d02" Alias="TinaFoxCEO.svg" Level="2">
  <Info>
    <Parent Key="0cd4ef51-2bf7-4af1-87c0-952953c3d9b4">Tina Fox CEO</Parent>
    <Path>/TinaFoxCEO/TinaFoxCEOsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T15:42:02</CreateDate>
    <NodeName Default="TinaFoxCEO.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cyfpw4ia/tinafoxceo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>