<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cd4ef51-2bf7-4af1-87c0-952953c3d9b4" Alias="Tina Fox CEO" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxCEO</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T15:41:58</CreateDate>
    <NodeName Default="Tina Fox CEO" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>