<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ee5e536-5c43-4eed-8ad3-4f4c7849db8d" Alias="Button Link - Approved Button Colors" Level="1">
  <Info>
    <Name>Button Link - Approved Button Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "dark"
    },
    {
      "value": "4F5955",
      "label": "primary"
    },
    {
      "value": "D9C3A9",
      "label": "secondary"
    },
    {
      "value": "0a0a09",
      "label": "accent"
    },
    {
      "value": "F7F7F7",
      "label": "gray"
    },
    {
      "value": "FFFFFF",
      "label": "light"
    },
    {
      "value": "FFFFFF",
      "label": "none"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>