<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f16c74b1-0155-4230-9dd7-65fdd4515993" Alias="Button - Button Type" Level="1">
  <Info>
    <Name>Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>