<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4223397-fe34-4f7d-8faf-dbedb8a38be1" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "575f9a7a-8e23-4203-ad82-e99be02c37ec",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "8b551a79-c2d9-428f-803d-927bf790a887",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "01622f87-ac19-43e0-b778-8f1bbb6f62ca",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "9c2e3b1d-6822-4b38-938d-10f730b90872",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>