<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6678e44-5e90-4507-bb0d-4b14304e6f3d" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8f982af7-8c5b-4dc8-8b5d-55a402af9694",
      "label": "**slide item** - {=imageAltText}"
    }
  ]
}]]></Config>
</DataType>