<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d29464e-8cc3-443f-b309-e8b42063958b" Alias="InputText - Input Type" Level="1">
  <Info>
    <Name>InputText - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel"
  ]
}]]></Config>
</DataType>