<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c0fd15b-ab0c-424c-bb70-c5ed950c7562" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "a4969d8b-59e5-4d6e-8259-5d03af632731",
      "name": "Containers"
    },
    {
      "key": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "name": "Components"
    },
    {
      "key": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "becc8313-787b-405a-961d-de277dc2fde5",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "1c944caa-5e98-4598-b8fe-9d23203b2927",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "a4969d8b-59e5-4d6e-8259-5d03af632731"
    },
    {
      "contentElementTypeKey": "f8dff2d3-7e0a-4e7b-9188-7ee9e17f6089",
      "allowAtRoot": true,
      "groupKey": "a4969d8b-59e5-4d6e-8259-5d03af632731",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "d036cce7-81b4-4636-abbc-21e5945ad662",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "4d7ca1b5-d164-4439-af44-c944a8177321",
      "allowAtRoot": false,
      "groupKey": "a4969d8b-59e5-4d6e-8259-5d03af632731",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "e9019603-59ce-4365-8a7d-fb93c4dce5cc",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "bcf5bda2-eb15-4acc-a1bd-6db7f77cf4c1",
      "allowAtRoot": false,
      "groupKey": "a4969d8b-59e5-4d6e-8259-5d03af632731",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "dd64a41c-7a0c-438c-9612-c6e76b9e5d97",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 6
        }
      ],
      "rowMinSpan": 0
    },
    {
      "contentElementTypeKey": "9ba7da06-6857-4026-8140-34ca8eb5aa42",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "25abf308-d8d2-4f4d-a9f4-a35708e602f6",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "27198299-c486-437b-840f-d888f6b9c292",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "740acfcf-bb72-4f89-9bbe-80291829c482",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5710b86e-bc14-460a-ac50-981ff2d88e36",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a94d0971-77e2-43ab-b283-1f2594a66cdc",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1326a05b-14d6-4b65-9c79-9e2d582d8c66",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5b3dc206-b173-46e2-9581-e3d136914194",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3cee66f9-0990-4125-a90d-8e4bee19b2fd",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "quote",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "caf6a4f8-bda5-4132-9c02-00028d468771",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2a96592b-22a1-4a73-8ef1-9037e0873658",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5171842f-2217-4169-9212-02edbb282d48",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "54ef0ed9-9f9c-4354-a9c2-4c6b5e788570",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "span",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e7d5cb27-db54-4690-bebc-fac9d7ebe793",
      "allowAtRoot": false,
      "groupKey": "a4969d8b-59e5-4d6e-8259-5d03af632731",
      "label": "divContainer",
      "allowInAreas": true,
      "areas": [
        {
          "key": "44318567-985f-4040-9963-76d626c7e089",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "areaGridColumns": 6
    },
    {
      "contentElementTypeKey": "4c3a7362-adfe-4351-8cc5-98244642abd1",
      "allowAtRoot": false,
      "groupKey": "03decb2a-fedd-4163-8900-e70449ab6b81",
      "label": "icon",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fa29dee2-b1ea-490f-98d7-494c112930b1",
      "allowAtRoot": true,
      "label": "question form",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "3461afca-d9b6-4189-8ca3-51d9e3fc1856",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "626387bf-4556-434c-833c-9af8e2093a55",
      "allowAtRoot": true,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "our services",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "474917ba-52ae-4e07-9fb1-9ce7a225e1da",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "allowInAreas": true,
      "label": "our projects"
    },
    {
      "contentElementTypeKey": "c2bc24ca-23a6-4ab7-86ff-aafa46394d18",
      "allowAtRoot": true,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "contact section"
    },
    {
      "contentElementTypeKey": "55e8c76d-bce6-4295-b75b-9e7775bfcf73",
      "allowAtRoot": true,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "our experts",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "1cfe6d08-f732-4fe1-ac23-2ec279b0a90b",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "allowInAreas": true,
      "label": "page sidebar"
    },
    {
      "contentElementTypeKey": "15aa5756-ab7c-44fe-9b45-6fdd5f105dee",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "project page item",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a54f337e-2edd-4570-8c5a-fa5794419d4a",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "map section",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8c15a467-3a5f-47c4-84b0-977f6c6d9920",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "contact form",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6a4f2805-7249-4a16-bfbc-fc9be864478f",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "label": "star review",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "24fcd3b8-ff1c-4cfe-bdc7-063cf62bc1f5",
      "allowAtRoot": false,
      "groupKey": "115af0a0-910f-42b6-abf3-48f5d60bcbdc",
      "allowInAreas": true,
      "label": "success story numbers"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>