<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c80bd872-e4ba-457f-bb3f-f818112df664" Alias="Our Experts - Experts" Level="1">
  <Info>
    <Name>Our Experts - Experts</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9ffb547c-b71e-485c-9a7b-81e3f615074b",
      "label": "expert item"
    }
  ]
}]]></Config>
</DataType>