<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13336659-1673-4ac1-adc3-f51e129caa0e" Alias="Page Sidebar - Tag Item" Level="1">
  <Info>
    <Name>Page Sidebar - Tag Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3eeec31e-8d15-46d5-958d-624fd32e52e0",
      "label": "Tag Item - **{=tagName}**"
    }
  ]
}]]></Config>
</DataType>