<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30ba619a-f01a-4445-a29a-9bd877899551" Alias="Project  - Project Page Item" Level="1">
  <Info>
    <Name>Project  - Project Page Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a28494ab-f2e7-4539-ba6a-ba513ed10361",
      "label": "**{=projectTitle}**"
    }
  ]
}]]></Config>
</DataType>