<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8e8a5d5-2c5b-40da-935c-220395066776" Alias="Projects - Project Item" Level="1">
  <Info>
    <Name>Projects - Project Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "01c57e9a-f6e5-4220-b81a-88ce0b24306e",
      "label": "project item"
    }
  ]
}]]></Config>
</DataType>