<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26306cfe-7271-4b7e-849c-59a38f1f32e9" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X (twitter)",
    "Youtube"
  ]
}]]></Config>
</DataType>