<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34d7a271-4e29-4334-8529-093596e6ffe4" Alias="Success Story - Number Item" Level="1">
  <Info>
    <Name>Success Story - Number Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "09d927aa-6b8a-45ab-b2ef-c701debd4007",
      "label": "success story item"
    }
  ]
}]]></Config>
</DataType>