@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
    var projectImage = Model?.Content.Value<IPublishedContent>("projectImage") ?? null;
    var projectDescription = Model?.Content.Value<string>("projectDescription") ?? "";
    var projectService = Model?.Content.Value<string>("projectService") ?? "";
}

<div class="project-container">
    <img src="@projectImage" alt="people in a meeting" >
    <div class="project-info">
        <p>@projectDescription</p>
        <p>@projectService</p>
    </div>
</div>